<article class="teaser stage-teaser shadow position-relative">
  {{ media }}
  <div class="teaser__content stage-teaser-text-content p-3">
    <div class="text-primary fw-bold text-uppercase h6">{{ category }}</div>
    <h4 class="h5">{{ title }}</h4>
    <div class="mb-3">{{ summary }}</div>
    <a href="{{ link }}" class="btn btn-primary stretched-link">{{ 'More information'|t }}</a>
  </div>
</article>
