{#
/**
 * @file
 * Template for the main page.
 */
#}


{% set
  page_classes = [
    'page',
    is_front ? 'page-front' : 'page-internal'
  ]|merge(page_utility_classes ?: [])
%}

{% set
  main_classes = [
    'content',
    'shadow',
    is_front ? 'content-front' : 'content-internal'
  ]|merge(main_utility_classes ?: [])
%}


{% set page_attributes = attributes ?: create_attribute() %}
{% set
  page_classes = [
  'page',
]|merge(page_utility_classes ?: [])
%}

{% set
  main_classes = [
  'content',
  'shadow',
]|merge(main_utility_classes ?: [])
%}

<div {{ page_attributes.addClass(page_classes) }}>
  {% block page_navigation %}
    <header class="header shadow">
      {% include 'artisan_caminofrances:navigation' %}
    </header>
  {% endblock %}


{% if is_front %}
  {% block page_hero %}
    <div class="hero-section">
      {% if page.portada_full %}
        {{ page.portada_full }}
      {% endif %}
      {% if page.portada_container %}
        <div class="container">
          <div class="row">
              {# Contenido del nodo 742 oculto
              {% if frontpage_node is defined and frontpage_node %}
                <div class="body">
                  {{ frontpage_node.body.value|raw }}
                </div>
              {% endif %}
              #}

          {{ page.portada_container }}


          </div>
        </div>
      {% endif %}
    </div>
  {% endblock %}
{% endif %}





  {% block page_content %}
    <main class="{{ main_classes|join(' ') }}" id="main-content">
      <div class="container">
        {{ page.content['artisan_caminofrances_breadcrumb'] }}
      </div>
      {{ page.content|without('artisan_caminofrances_breadcrumb', 'artisan_caminofrances_cookiesui') }}
    </main>
    {{ page.content['artisan_caminofrances_cookiesui'] }}
  {% endblock %}

  {# Carrusel de experiencias antes del footer #}
  {% block page_carousel %}
    <section class="experiencias-carousel-section py-5">
      <div class="container experiencias-carousel-container">
        <div class="experiencias-carousel">
          <a href="#" class="experiencia-item experiencia-item--naranja">
            <div class="experiencia-icon">
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="30" cy="30" r="30" fill="white"/>
                <path d="M30 15L35 25H45L37 32L40 42L30 36L20 42L23 32L15 25H25L30 15Z" fill="#FF6B4A"/>
              </svg>
            </div>
            <h3 class="experiencia-title">Recursos turísticos</h3>
          </a>
          <a href="#" class="experiencia-item experiencia-item--azul">
            <div class="experiencia-icon">
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="30" cy="30" r="30" fill="white"/>
                <path d="M20 20L25 30L30 25L35 30L40 20L30 15L20 20Z" fill="#00A9E0"/>
                <path d="M15 40L20 35L25 40L30 35L35 40L40 35L45 40L30 50L15 40Z" fill="#00A9E0"/>
              </svg>
            </div>
            <h3 class="experiencia-title">Miradores inmersivos</h3>
          </a>
          <a href="#" class="experiencia-item experiencia-item--verde">
            <div class="experiencia-icon">
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="30" cy="30" r="30" fill="white"/>
                <path d="M15 30L25 25L30 30L35 25L45 30L35 35L30 30L25 35L15 30Z" fill="#4CAF50"/>
              </svg>
            </div>
            <h3 class="experiencia-title">Rutas</h3>
          </a>
        </div>
      </div>
    </section>
  {% endblock %}

  {% block page_footer %}
  <div class="container-footer">
    <footer class="container py-5">
      {% include 'artisan_caminofrances:footer-top' %}
      {% include 'artisan:footer-bottom' %}
    </footer>
</div>
  {% endblock %}
</div>
