<div class="practical-information-content-top-kioskv">
  <div class="swiper">
    <div class="swiper-wrapper">{{ slides }}</div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="practical-information-content-top-kioskv-info">
    <h1 class="mb-3 text-kiosk-primary text-uppercase">{{ title }}</h1>
    <div class="mb-3 text-muted">
      <strong class="d-block mb-2">{{ summary }}</strong>
      {{ description }}
    </div>
    {{ qr }}
  </div>
</div>
