<article class="teaser town-hall-teaser shadow position-relative">
  {{ media }}
  <div class="teaser__content town-hall-teaser-text-content p-3">
    <h4 class="h5">{{ title }}</h4>
    <div class="mb-3">{{ summary }}</div>
    <a href="{{ link }}" class="btn btn-primary stretched-link">{{ 'More information'|t }}</a>
  </div>
</article>
